<label>Server Name</label>
<!-- <input type="text"
       class="form-control"
       (input)="onUpdateServerName($event)"> -->
<input type="text"
      class="form-control"
      [(ngModel)] = "serverName">
<!-- <p>{{serverName}}</p> -->
<!-- <input type="text"
      class="form-control"
      [(ngModel)] = "userName">
<p>{{userName}}</p> -->

<!-- <button class='btn btn-primary'
  type="button"
  name="button"
  (click) = "onUpdateUser()"
  [disabled]= '!userName'
  >Add User</button> -->

<button class='btn btn-primary'
  type="button"
  name="button"
  (click) = "onCreateServer()"
  [disabled]= '!allowNewServer'
  >Add server</button>
<!-- <p>{{ !allowNewServer }}</p>

<p [innerText]='!allowNewServer'></p> -->

<p *ngIf="serverCreated; else noServer">Server is {{ serverCreationStatus }}</p>
<ng-template #noServer><p>No Server</p></ng-template>
<!-- <app-server></app-server>
<app-server></app-server> -->
